header {
    margin: 0.5cm 0.5cm;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

nav {
    margin: auto 12px;
    font: 20px sans-serif ;
}

a {
    color: black;
    text-decoration-line: none;
}

a:hover {
    color: aliceblue;
    font-size: 25px;
}


h1 {
    font: bolder 80px sans-serif;
}

p {
    font: 25px sans-serif;
}

div {
    margin: auto;
    text-align: center;
    height: 12cm;
}

body {
    margin: auto;
    height: 18cm;
    background-color: olive;
}

input {
    margin: 10px 12px;
    padding: 0.4cm 1cm;
    border-radius: 0.3cm;
    font: 16px sans-serif;
    box-shadow: 5px 10px rgb(107, 107, 0);
}

button {
    margin: 10px 12px;
    font: 20px sans-serif;
    padding: 0.3cm 0.6cm;
    border: 0.1cm outset;
    border-radius: 0.3cm;
    box-shadow: 5px 10px rgb(107, 107, 0);
}

button:hover {
    color: aliceblue;
    background-color: rgba(107, 107, 0, 0.479);
    font-size: 25px;
}

li {
    font: 20px sans-serif;
}